<mat-form-field appearance="fill" class="input-date" (click)="pickerEndDate.open()" (focusin)="pickerEndDate.open()">
  <mat-label>{{label}}</mat-label>
  <input matInput (dateChange)="timeOnChange()" [(ngModel)]="dateTimeInternal" [matDatepicker]="pickerEndDate" [placeholder]="label">
  <mat-datepicker #pickerEndDate></mat-datepicker>
</mat-form-field>

<mat-form-field appearance="fill" class="input-date">
  <mat-label>Heure</mat-label>
  <mat-select [(value)]="selectedTime" (valueChange)="timeOnChange()">
    <mat-option *ngFor="let time of times" [value]="time">{{time}}</mat-option>
  </mat-select>
</mat-form-field>
